# Python virtual environment
.venv

# Environment variables
.env

# Cache
.cache
cache
# Python cache files
__pycache__
*.py[cod]
*$py.class
*.pyc

fmri2img.egg-info
test_redirect_index
data/
outputs/